@font-face {
    font-family: 'Ouroboros';
    src: url('../fonts/Ouroboros.otf') format("opentype");
    font-weight: 100;
    font-style: normal;
}

:root {
    --main-bg-color-1: #000;
    --main-bg-color-2: #fff;
    --main-color-1: #650000;
    --main-color-2: #fff;
}

body {
    background: var(--main-bg-color-1) url("../img/background.jpg") no-repeat center center fixed;
    background-size: 100% auto;
    font-family: Ouroboros, sans-serif;
    color: var(--main-color-2);
}

.vein {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0, 0, 0, 0.5);
}

.flag-container {
    position: absolute;
    top: 30px;
    left: 40px;
}

.flag-container img {
    width: 100%; /* Сделать изображение адаптивным */
    max-width: 200px; /* Максимальная ширина для больших экранов */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Стили для мобильного меню */
#menu {
    display: none; /* По умолчанию скрыто на мобильных устройствах */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center;
    background-color: transparent; /* Цвет фона */
}

#menu.show {
    display: flex; /* Отображаем на мобильных устройствах */
}

.menu-item {
    margin: 10px 0; /* Отступы между пунктами меню */
}

/* Скрытие меню на больших экранах */
@media (min-width: 992px) {
    #menu {
        display: flex; /* Отображаем на больших экранах */
        flex-direction: row; /* Горизонтальное расположение элементов */
    }
}


.header, .footer {
    background-color: var(--main-color-1);
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    color: var(--main-color-2);
    font-size: 35px;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,  
        -2px  2px 0 #000,  
         2px  2px 0 #000,
        -2px  0 0 #000,
         2px  0 0 #000,
         0 -2px 0 #000,
         0  2px 0 #000;
}

section.product-box h2 {
	margin-bottom: 20px;
    text-align: center;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,  
        -2px  2px 0 #000,  
         2px  2px 0 #000,
        -2px  0 0 #000,
         2px  0 0 #000,
         0 -2px 0 #000,
         0  2px 0 #000;
}

/* Блок товаров */
section.product-box {
	margin: 30px 20px 30px 20px;
}

.text-box {
    padding: 10px;
    cursor: pointer;
    color: var(--main-color-2);
    font-size: 40px;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,  
        -2px  2px 0 #000,  
         2px  2px 0 #000,
        -2px  0 0 #000,
         2px  0 0 #000,
         0 -2px 0 #000,
         0  2px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.product-box .product {
	min-height: 250px;
	margin-bottom: 30px;
}

section.product-box .product .product-pic {
	min-height: 270px;
}

section.product-box .product .product-name {
	display: block;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product button {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 66%;
	margin-left: -33%;
	background: var(--main-color-1);
	border: none;
	text-transform: uppercase;
	padding: 10px 30px 10px 30px;
	color: white;
	display: none;
}

.product:hover button {
	display: block;
}

.product-pic {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.popup, .overlay {
    display: none;
    position: fixed;
    z-index: 1000;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup h3 {
    border-bottom: 1px solid var(--main-color-1);
    color: var(--main-color-1);
    margin-bottom: 10px;
}

.popup .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--main-color-1);
    background: none;
    border: none;
    cursor: pointer;
}

/* Таймер */
.timer-main {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 310px;
	width: 1000px;
	margin-top: -155px;
	margin-left: -500px;
	background: none;
	text-align: center;
}

.timer-main > .title {
	display: block;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--main-color-2);
}

.timer {
	display: inline-block;
	color: var(--main-color-2);
	font-size: 30px;
	font-weight: 100;
	text-align: center;
}

.timer > div {
	padding: 10px;
	border-radius: 3px;
	background: var(--main-color-1);
	display: inline-block;
}

.timer div > span{
	padding: 15px;
	border-radius: 3px;
	background: var(--main-color-1);
	display: inline-block;
}

.small-text{
	padding-top: 5px;
	font-size: 16px;
}

/* timer.php */
.title {
    text-align: center;
    /*color: var(--main-color-1) !important;  à regarder! */
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,  
        -2px  2px 0 #000,  
         2px  2px 0 #000,
        -2px  0 0 #000,
         2px  0 0 #000,
         0 -2px 0 #000,
         0  2px 0 #000;
}

/* inscription.php */

.form {
    width: 200px;
}

.button-inscription {
    background-color: #754ef9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Style CSS pour le bouton au survol */
.button-inscription:hover {
    background-color: #4CAF50;
}

.success-message {
    color: #754ef9;
    font-weight: bold;
    font-size: 30px;
    height: 350px;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 30px;
    height: 350px;
}

/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
}
  
.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}
  
.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}
  
.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}
  
.card-body {
    padding: 0 20px 20px 20px;
}
  
.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}
 

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    padding: 20px 0;
    font-size: 16px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
    font-family: Arial, sans-serif;
    color: var(--main-color-2); 
}

.footer .copyright {
    text-align: center;
    color: var(--main-color-2);
}